.warning{
  background-color: #89A3B6;
  color: white;
  font-size: small;
}

.adjust{
  margin-top: 20%;
  position: relative;
  left: -10px;
}

.inline{
  display: inline-block;
}
footer{
  background-color: #141313;
  color: silver;
}

.closer{
  flex-direction: row
}
.footpad{
  padding: 4px;
}


moveright{
  padding-right: 2px;
}

.parent {
  display: flex;

}
.box {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  background-color: gray;
  text-align: center;
}

.left{
  margin-left: 15%;
}
.right{
  margin-right: 0%;
  justify-content: flex-end;

}
.iconright{
  margin-right: 10%;
}
h1{
  margin-left: 16.5%;
}

.top{
  margin-top: 2%;
}

.fontc{
  font-size: 16px;
}

navvb{
  margin-left: 8%;
}

.productext{
  padding-top: 20px;
  font-size: 12px;
}

.textspace{
  margin-left: 1px;
  margin-right: 1px;
}

.small{
  font-size: x-small;
}

.textfix{
  flex-basis: auto;
  flex-grow: 1;
  white-space: nowrap;
}

.black{
  color: black;
}